<div class="container-fluid col-sm-4 outer">
    <form class="inner" [formGroup] = "registrationForm"> 
        <div class="form-group">
            <label>Username : </label>
            <input formControlName = "user_name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Password : </label>
            <input formControlName = "user_password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Confirm Password : </label>
            <input formControlName = "confirm_password" type="password" class="form-control">
        </div>
        <div formGroupName = "user_address">
            <div class="form-group">
                <label>City : </label>
                <input formControlName = "user_city" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>State : </label>
                <input formControlName = "user_state" type="text" class="form-control">
            </div>
            <div class="form-group">
               <label>Post Code : </label>
               <input formControlName = "user_postCode" type="email" class="form-control">
            </div>
        </div>
        <div style="text-align:center">
            <button class="btn btn-primary"type="submit">Submit Details</button>
        </div>
    </form>
</div>

<!-- {{registrationForm.value | json}} -->